/* ======= ======= ======= Desktop Down ======= ======= ======= */
/* screens < 960px */
@media only screen and (max-width: 1108px) {
  body {
    font-size: 120%;
  }
  .wrapper {
    width: 90%;
    background-color: thistle;
  }
  #social {
    position: absolute;
    
  }

  h1 {
    font-size: 2em;
  }
